---
import Layout  from "../layouts/Layout.astro"
---

<Layout title="Pagina no encontrada" description="Pagina no encontrada" keywords="" >
    <div class="min-h-screen flex flex-col justify-center items-center">
        <h1 class="text-6xl font-bold mb-4">404</h1>
        <p class="text-xl mb-8">Lo sentimos, la página que buscas no existe.</p>
        <a href="/" class="px-6 py-3 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors">Volver a la página principal</a>
    </div>
</Layout>