---
import Layout from '../layouts/Layout.astro';
---

<Layout robot="" title="Gracias" description="Agradecimiento" keywords="">
  <main
    class="font-sans flex items-center justify-center min-h-[70vh]"
    style="background-image: url(../../public/img/contenPages/Gracias.jpg);
               background-repeat: no-repeat;
               background-size: cover;
               background-position: top; "
  >
    <div class="p-8 rounded-lg shadow-lg max-w-md w-full text-white">
      <h1 class="text-3xl font-bold text-center mb-4">¡Gracias!</h1>
      <p class="text-lg 0 text-center mb-4">
        Tu mensaje ha sido enviado exitosamente. Nos pondremos en contacto
        contigo pronto.
      </p>
      <div class="text-center">
        <a
          href="/"
          class="text-light-accent2 hover:text-light-accent1 dark:text-dark-accent2 dark:hover:text-dark-accent1 font-medium"
          >Volver al inicio</a
        >
      </div>
    </div>
  </main>
</Layout>
