---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Gracias"
  robot="nofollow"
  keywords="términos, condiciones, privacidad"
  description="Nuestros términos y condiciones, y política de privacidad."
>
  <div class="max-w-5xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl font-bold mb-8">
      En breve te llegara un correo con la información de tu proyecto
    </h2>

    <!-- Términos y Condiciones -->
    <div class="mb-8">
      <p class="mb-4">
        Gracias por utilizar nuestor formulario de contacto y proporcionar tus
        datos personales, en breve te llegara un correo con la información de tu
        proyecto.
      </p>
    </div>
  </div>
</Layout>
