---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Politica de privacidad"
  robot="nofollow"
  keywords="politica"
  description="Nuestra politica"
>
  <div class="max-w-5xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl font-bold mb-8">Política de Privacidad</h2>

    <div class="mb-8">
      <h3 class="text-2xl font-semibold mb-4">1. Introducción</h3>
      <p class="mb-4">
        En Desarrollo Digital, valoramos su privacidad y nos comprometemos a
        proteger su información personal. Esta Política de Privacidad describe
        cómo recopilamos, utilizamos y compartimos su información cuando utiliza
        nuestro sitio web y servicios.
      </p>
    </div>

    <div class="mb-8">
      <h3 class="text-2xl font-semibold mb-4">
        2. Información que Recopilamos
      </h3>
      <p class="mb-4">
        Podemos recopilar la siguiente información personal cuando utiliza
        nuestros servicios:
      </p>
      <ul class="list-disc list-inside mb-4">
        <li>
          Información de contacto, como nombre, dirección de correo electrónico
          y número de teléfono.
        </li>
        <li>Información de pago, como datos de tarjeta de crédito o débito.</li>
        <li>
          Datos de uso, como información sobre cómo utiliza nuestro sitio web y
          servicios.
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h3 class="text-2xl font-semibold mb-4">3. Uso de la Información</h3>
      <p class="mb-4">Utilizamos la información que recopilamos para:</p>
      <ul class="list-disc list-inside mb-4">
        <li>Proporcionar y mejorar nuestros servicios.</li>
        <li>Procesar transacciones y enviar confirmaciones.</li>
        <li>Responder a sus comentarios, preguntas y solicitudes.</li>
        <li>
          Enviar comunicaciones de marketing, si ha optado por recibirlas.
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h3 class="text-2xl font-semibold mb-4">4. Compartir su Información</h3>
      <p class="mb-4">
        No vendemos ni alquilamos su información personal a terceros. Podemos
        compartir su información con:
      </p>
      <ul class="list-disc list-inside mb-4">
        <li>
          Proveedores de servicios que nos ayudan a operar nuestro negocio y
          proporcionar nuestros servicios.
        </li>
        <li>
          Autoridades legales si es necesario para cumplir con la ley o proteger
          nuestros derechos.
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h3 class="text-2xl font-semibold mb-4">5. Seguridad</h3>
      <p class="mb-4">
        Tomamos medidas razonables para proteger su información personal contra
        pérdida, robo y uso no autorizado. Sin embargo, no podemos garantizar la
        seguridad absoluta de su información.
      </p>
    </div>

    <div class="mb-8">
      <h3 class="text-2xl font-semibold mb-4">
        6. Cambios en esta Política de Privacidad
      </h3>
      <p class="mb-4">
        Podemos actualizar esta Política de Privacidad de vez en cuando.
        Publicaremos cualquier cambio en esta página, y le notificaremos si los
        cambios son significativos.
      </p>
    </div>

    <div>
      <h3 class="text-2xl font-semibold mb-4">7. Contacto</h3>
      <p>
        Si tiene alguna pregunta sobre esta Política de Privacidad, por favor
        contáctenos en <a
          href="mailto:info@desarrollo-digital.com"
          class="text-blue-400 hover:underline">info@desarrollo-digital.com</a
        >.
      </p>
    </div>
  </div>
</Layout>
