---
import { getAllCategoriesFilter } from '../utils/getAllCategories';

// Tipado explícito para las categorías
const categories: string[] = await getAllCategoriesFilter();
const baseUrl = '/blog/category'; // Constante para DRY
---

<div class="flex flex-col justify-start items-start gap-2 my-4">
  <h3 class="text-center font-lato w-full">
    Te puede interesar alguna de nuestras categorías
  </h3>
  <ul class="flex flex-col w-full gap-2">
    {
      categories.map((category) => (
        <li>
          <a
            href={`${baseUrl}/${category.toLowerCase()}`}
            class="text-light-primary dark:text-dark-primary text-xs font-semibold px-2.5 py-0.5 rounded bg-light-secondary dark:bg-dark-secondary hover:bg-light-accent1 dark:hover:bg-dark-accent2 inline-flex items-center justify-center w-full"
          >
            {category}
          </a>
        </li>
      ))
    }
  </ul>
</div>
